# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Debug files
logs/
*.log

# Build artifacts
dist/
build/
output/

# Test files
coverage/

# Dependency directories
jspm_packages/
bower_components/

# Cache directories
.npm
.eslintcache
.node_repl_history
.yarn-integrity

# IDE/Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store